@import "tailwindcss";


body {
    background-color: #F3FAFF;
    background-image: url("/bglines.svg");
    background-repeat: repeat;
    color: #473B47;
}

.pop {
  transition: transform 140ms ease;
}

.pop:hover {
  transform: scale(1.02);
}