@import "tailwindcss";

@theme {
  --font-sans: var(--font-archivo);
  --font-jua: var(--font-jua);

  --drop-shadow-sticker: 0 3px 2px rgba(0, 0, 0, 0.25);

  --color-blue-bg: #5e6fe5;
  --color-blue-fg: #5167dd;
  --color-green-bg: #65c3b5;
  --color-green-fg: #70c9bb;
  --color-text: #473b47;

  --color-gradient-start: #c3e6f3;
  --color-gradient-end: #abc8f4;

  --color-magazine: #e11d48;
  --color-juice-bg: #cee5c0;
  --color-juice-fg: #467346;
  --color-highway: #302c61;
}
@custom-variant dragging ([data-dragging="true"]);

@layer base {
  html {
    /* font-size: clamp(16px, 1.25vw, 20px); */
    font-size: max(16px, 1.25vw);
  }
}

@utility bg-stripes-from-* {
  @apply relative isolate;

  &::before {
    content: "";
    @apply corner-squircle absolute inset-0 -z-10 rounded-4xl shadow-md transition;

    background-color: --value(--color-*, [color]);
    background-image: repeating-linear-gradient(
      -60deg,
      transparent,
      transparent 1rem,
      var(--stripes-fg) 1rem,
      var(--stripes-fg) 2rem
    );
    background-size: 200% 100%;
    background-position: 0 0;
  }

  &:hover::before {
    @apply brightness-75;
    animation: stripe-move 1s linear infinite;
  }
}
@utility bg-stripes-to-* {
  &::before {
    --stripes-fg: --value(--color-*, [color]);
  }
}
@keyframes stripe-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(-2rem / sin(60deg)) 0;
  }
}
@utility corner-squircle {
  corner-shape: squircle;
}

.bg-grid {
  background-color: #f3faff;
  background: url("/bglines.svg") center repeat;
}

.pop {
  transition: transform 140ms ease;
}

.pop:hover {
  transform: scale(1.02);
}
