@import "tailwindcss";

@theme {
  --drop-shadow-sticker: 0 3px 2px rgba(0, 0, 0, 0.25);
}
@custom-variant dragging ([data-dragging="true"]);

body {
  background-color: #f3faff;
  background-image: url("/bglines.svg");
  background-repeat: repeat;
  color: #473b47;
}

.pop {
  transition: transform 140ms ease;
}

.pop:hover {
  transform: scale(1.02);
}
