@import "tailwindcss";


body {
    background-color: #F3FAFF;
    background-image: url("/bglines.svg");
    background-repeat: repeat;
    color: #473B47;
}

.pop {
  transition: transform 140ms ease;
}

.pop:hover {
  transform: scale(1.02);
}

article h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.25;
}

article h2 {
  font-size: 1.875rem;
  font-weight: 600;
  margin-top: 1.75rem;
  margin-bottom: 1rem;
}

article h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

article h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

article h5 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

article h6 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

article p {
  margin-bottom: 1rem;
}

article a {
  color: #3b82f6;
  text-decoration: underline;
}

article a:hover {
  color: #2563eb;
  text-decoration: wavy;
}

article ul,
article ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

article ul {
  list-style-type: disc;      
  list-style-position: inside; 
  padding-left: 1.5rem;      
  margin: 1rem 0;
}

article ul li {
  margin-top: 0rem;        
}

article img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem 0;
  border-radius: 0.25rem;
}
