---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Carousel from "../Carousel.astro";

interface Props {
  pages: ImageMetadata[];
}

const { pages } = Astro.props;
---

<div class="group space-y-4">
  <Carousel pages={pages.slice(0, 6)} />
  <Carousel pages={pages.slice(6)} reverse />
</div>
