<div class="bg-highway text-white">
  <div class="p-16">
    <div class="flex justify-between text-xl text-current/80">
      <p>#3</p>
      <p>highway</p>
    </div>
    <p class="mt-4 text-3xl leading-snug">
      A hardware grant program where any teen could make any hardware project.
      They made the coolest keyboards, cyberdecks, 3D printers, devboards, game
      consoles, and more!
    </p>
    <a
      href="#"
      class="font-jua corner-squircle text-highway mt-6 flex h-12 w-fit items-center rounded-3xl bg-white px-5 text-xl transition hover:scale-105 active:scale-100"
    >
      view highway magazine
      <span
        class="bg-highway ml-2 grid size-5 place-items-center rounded-full text-sm text-white uppercase"
        >&gt;</span
      >
    </a>
  </div>
</div>
