---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import Gallery from "./Gallery.astro";

const entry = await getEntry("magazines", "highway");
if (!entry) {
  throw new Error("Highway magazine entry not found");
}

const { logo, pages } = entry.data;
---

<div class="bg-highway overflow-clip text-white">
  <div class="p-16">
    <div class="flex justify-between text-xl text-current/75">
      <p>#3</p>
      <p>&mdash; highway</p>
    </div>
    <p class="mt-4 text-3xl leading-snug">
      A hardware grant program where any teen could make any hardware project.
      They made the coolest keyboards, cyberdecks, 3D printers, devboards, game
      consoles, and more!
    </p>
    <a
      href="#"
      class="font-jua corner-squircle text-highway mt-6 flex h-12 w-fit items-center rounded-3xl bg-white px-5 text-xl transition hover:scale-105 hover:bg-neutral-200 active:scale-100"
    >
      view highway magazine
      <span
        class="bg-highway ml-2 grid size-5 place-items-center rounded-full text-sm text-white uppercase"
        >&gt;</span
      >
    </a>
  </div>
  <div class="relative">
    <Gallery pages={pages} />
    <Image
      src={logo}
      alt=""
      role="presentation"
      class="absolute top-1/2 left-1/2 h-54 w-auto -translate-x-1/2 -translate-y-1/2 rotate-2"
    />
  </div>
</div>
