<div class="bg-juice-bg text-black">
  <div class="p-16">
    <div class="flex justify-between text-xl text-current/75">
      <p>#2</p>
      <p>&mdash; juice</p>
    </div>
    <p class="mt-4 text-3xl leading-snug">
      Over 2 months, high schoolers from around the world spent one hundred
      hours making their own game - and over 100 of them flew to Shanghai to
      open a pop-up juice bar & game exhibition.
    </p>
    <a
      href="#"
      class="font-jua corner-squircle bg-juice-fg mt-6 flex h-12 w-fit items-center rounded-3xl px-5 text-xl text-white transition hover:scale-105 hover:bg-green-900 active:scale-100"
    >
      view juice magazine
      <span
        class="text-juice-fg ml-2 grid size-5 place-items-center rounded-full bg-white text-sm uppercase"
        >&gt;</span
      >
    </a>
  </div>
</div>
