---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import Gallery from "./Gallery.astro";

const entry = await getEntry("magazines", "juice");
if (!entry) {
  throw new Error("Juice magazine entry not found");
}

const { logo, pages } = entry.data;
---

<div class="bg-juice-bg overflow-clip text-black">
  <div class="p-16 pb-12">
    <div class="flex justify-between text-xl text-current/75">
      <p>#2</p>
      <p>&mdash; juice</p>
    </div>
    <p class="mt-4 text-3xl leading-snug">
      Over 2 months, high schoolers from around the world spent one hundred
      hours making their own game - and over 100 of them flew to Shanghai to
      open a pop-up juice bar & game exhibition.
    </p>
    <a
      href="#"
      class="font-jua corner-squircle bg-juice-fg mt-6 flex h-12 w-fit items-center rounded-3xl px-5 text-xl text-white transition hover:scale-105 hover:bg-green-900 active:scale-100"
    >
      view juice magazine
      <span
        class="text-juice-fg ml-2 grid size-5 place-items-center rounded-full bg-white text-sm uppercase"
        >&gt;</span
      >
    </a>
  </div>
  <div class="relative">
    <Gallery pages={pages} />
    <Image
      src={logo}
      alt=""
      role="presentation"
      class="absolute top-1/2 left-1/2 h-50 w-auto -translate-x-1/2 -translate-y-1/2 rotate-2"
    />
  </div>
</div>
