---
import Gallery from "./Gallery.astro";
---

<div class="bg-magazine overflow-clip text-white">
  <div class="p-16">
    <div class="flex justify-between text-xl text-current/75">
      <p>#1</p>
      <p>&mdash; magazine</p>
    </div>
    <p class="mt-4 text-3xl leading-snug">
      The Hack Club showcase. 158 awesome projects made by 100 Hack Clubbers in
      2025, all in one magazine. Each teenager designed their own page to show
      off their project to you.
    </p>
    <a
      href="#"
      class="font-jua corner-squircle text-magazine mt-6 flex h-12 w-fit items-center rounded-3xl bg-white px-5 text-xl transition hover:scale-105 hover:bg-neutral-200 active:scale-100"
    >
      view hack club magazine
      <span
        class="bg-magazine ml-2 grid size-5 place-items-center rounded-full text-sm text-white uppercase"
        >&gt;</span
      >
    </a>
  </div>
  <div class="relative">
    <Gallery id="magazine" />
  </div>
</div>
