---
import "../styles/global.css";
import Examples from "../components/examples.astro";
import Examples2 from "../components/examples2.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hack Club Magazine</title>
	</head>
	<body>

		<img src="/topbar.svg" class="w-full"/>

		<a href="https://hackclub.com/"><img style="position: absolute; left: 0px; border: 0; z-index: 999;" class="top-5 md:top-10 w-44 md:w-64 opacity-90 hover:opacity-100 hover:rotate-2 transition" src="https://assets.hackclub.com/flag-orpheus-left.svg" alt="Hack Club"/></a>

		<div class="min-h-screen flex flex-col items-center justify-center">

			<div class="relative flex justify-center items-center w-full md:w-auto max-w-3xl mt-12">
				<img src="/titleback.png" class="max-w-3xl h-auto overflow-hidden"/>
				<img src="/title.png" class="absolute w-[90%] max-w-xl h-auto"/>
				<div class="absolute -top-12 md:-top-10 left-2 md:-left-8 p-3 px-8 text-3xl rounded-sm -rotate-3 overflow-hidden">
					<img src="/titleback2.png" class="absolute top-0 right-0"/>
					<img src="/titletop.png" class="rotate-1 max-w-36 md:max-w-44"/>
				</div>
				<div class="absolute -bottom-10 right-2 md:-right-8 pt-2.5 pb-3.5 px-8 text-xl rounded-sm rotate-3 overflow-hidden">
					<img src="/titleback2.png" class="absolute top-0 right-0"/>
					<img src="/titlebottom.png" class="-rotate-6 max-w-30 md:max-w-36"/>
				</div>
			</div>

			<div class="flex flex-col justify-center items-center text-center text-lg md:text-xl font-bold mt-20">
				<img src="/titledesc.png" class="max-w-lg w-full absolute -z-10 opacity-70"/>
				<p>this january: make a page for your project,</p>
				<p>get it in the hack club 2025 magazine!</p>
			</div>

			<div class="translate-y-24"><Examples /></div>


		</div>

		<div class="flex flex-col justify-center items-center mx-5 mb-12 md:mb-20">
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-8 relative">

				<div class="bg-white max-w-3xl shadow-lg p-5 md:p-12 lg:pr-24">
					<img src="/bookpage1.png" class="max-w-xl w-full"/>
				</div>

				<div class="bg-white max-w-3xl shadow-lg p-5 md:p-12 lg:pl-20">
					<img src="/bookpage2.png" class="max-w-xl w-full"/>
				</div>

				<img src="/bookrings.svg" class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 hidden lg:block pointer-events-none xl:w-28"/>

				

			</div>
		</div>




		<div class="bg-linear-to-b from-[#C3E6F3]/80 to-[#ABC8F4]/80 p-5 py-24 flex flex-col justify-center">

			<div class="flex flex-col justify-center items-center mb-12">
				<div class="border-8 border-[#BFEAE1] bg-[#FEFEF2] p-4 px-24 rounded">
					<p class="text-3xl font-bold">how to join</p>
				</div>
			</div>

			<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-y-24 relative mx-auto lg:pb-24">

				<div class="relative w-full max-w-md flex justify-center shadow-xs -rotate-3 pop">
					<img src="/postcard1.svg" class="w-full h-auto"/>
					<p class="absolute top-8 px-6 text-xl text-center font-bold">1. submit your project!</p>
					<p class="absolute top-30 px-8 text-center">put your project description, repo, demo link, screenshots, and what program/hackathon it was originally made for (if applicable) in [#channel]!</p>
				</div>

				<div class="relative w-full max-w-md flex justify-center shadow-xs rotate-3 lg:translate-y-24 pop">
					<img src="/postcard2.svg" class="w-full h-auto"/>
					<p class="absolute top-8 px-6 text-xl text-center font-bold">2. get reviewed!</p>
					<p class="absolute top-30 px-8 text-center">@acon will respond in thread with how many pages you'll be allowed to use! this ranges from 1/4th pages (for small projects) to 2 pages (for super large cool swagger projects)</p>
				</div>

				<div class="relative w-full max-w-md flex justify-center shadow-xs -rotate-1 lg:-translate-y-12 pop">
					<img src="/postcard3.svg" class="w-full h-auto"/>
					<p class="absolute top-8 px-6 text-xl text-center font-bold">3. design your page!</p>
					<p class="absolute top-30 px-8 text-center">go to the figma with instructions, and start designing! if you're using less than a full page, find a friend to share / design with to fit multiple projects :D</p>
				</div>

				<div class="relative w-full max-w-md flex justify-center shadow-xs rotate-2 lg:translate-y-16 pop">
					<img src="/postcard4.svg" class="w-full h-auto"/>
					<p class="absolute top-8 px-6 text-xl text-center font-bold">4. receive feedback!</p>
					<p class="absolute top-30 px-8 text-center">@acon and [reviewers] will comment in figma with feedback - update your page until it is approved for printing!</p>
				</div>

			</div>

		</div>


		<div class="flex flex-col justify-center items-center py-12 mt-12 mx-5">
			<p class="text-3xl font-bold">previous hack club magazines</p>

			<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">


				<div class="border-4 border-dashed border-[#473B47] p-6 max-w-xl">
					<div class="grid grid-cols-2 gap-6">
						<img src="/mag1.png"/>
						<div class="grid gap-6">
							<p>Highway Magazine</p>
							<img src="/mag2.png" class="mt-auto"/>
						</div>
					</div>
				</div>

				<div class="border-4 border-dashed border-[#473B47] p-6 max-w-xl">
					<div class="grid grid-cols-2 gap-6">
						<img src="/mag1.png"/>
						<div class="grid gap-6">
							<p>Highway Magazine</p>
							<img src="/mag2.png" class="mt-auto"/>
						</div>
					</div>
				</div>





			</div>

			
		</div>

		<div class="flex flex-col justify-center items-center py-12 mx-5">
			<p class="text-3xl font-bold">frequently asked questions</p>

			<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-9">

				<div class="border-4 border-dashed border-[#473B47] p-6 max-w-xl">
					<p class="text-xl font-bold">how can i get a copy of the magazine?</p>
					<p class="mt-2">an online pdf will be put out for free! [you might also be able to purchase it on the flavourtown shop.] you could also get it by submitting a project that hasn't been double dipped to this ysws!</p>
				</div>

				<div class="border-4 border-dashed border-[#473B47] p-6 max-w-xl">
					<p class="text-xl font-bold">project requirements?</p>
					<p class="mt-2">an online pdf will be put out for free! [you might also be able to purchase it on the flavourtown shop.] you could also get it by submitting a project that hasn't been double dipped to this ysws!</p>
				</div>

				<div class="border-4 border-dashed border-[#473B47] p-6 max-w-xl">
					<p class="text-xl font-bold">will michael reeves actually see it?</p>
					<p class="mt-2">an online pdf will be put out for free! [you might also be able to purchase it on the flavourtown shop.] you could also get it by submitting a project that hasn't been double dipped to this ysws!</p>
				</div>

				<div class="border-4 border-dashed border-[#473B47] p-6 max-w-xl">
					<p class="text-xl font-bold">where can i ask more questions?</p>
					<p class="mt-2">an online pdf will be put out for free! [you might also be able to purchase it on the flavourtown shop.] you could also get it by submitting a project that hasn't been double dipped to this ysws!</p>
				</div>
				
			</div>
		</div>



		<div class="flex flex-col justify-center items-center my-8 mt-16 font-semibold">
			<div>
				<p>made with :3 by acon (<a href="https://github.com/acornitum/magazine" class="underline hover:decoration-wavy" target="_blank" rel="noopenner noreferrer">repo</a>)</p>
			</div>
			<div class="flex flex-wrap space-x-2">
				<a href="https://hackclub.com/" class="underline hover:decoration-wavy" target="_blank" rel="noopenner noreferrer">hack club</a>
				<p>//</p>
				<a href="https://hackclub.com/slack/" class="underline hover:decoration-wavy" target="_blank" rel="noopenner noreferrer">slack</a>
				<p>//</p>
				<a href="https://hackclub.com/clubs/" class="underline hover:decoration-wavy" target="_blank" rel="noopenner noreferrer">clubs</a>
				<p>//</p>
				<a href="https://hackclub.com/hackathons/" class="underline hover:decoration-wavy" target="_blank" rel="noopenner noreferrer">hackathons</a>
			</div>
		</div>




		<img src="/topbar.svg" class="w-full"/>

	</body>
</html>
