---
import "../styles/global.css";
import GettingStarted from "./start.md";
import Footer from "../components/footer.astro"
---

<html lang="en">
  <head>
    <title>Getting Started</title>
  </head>
  <body>

    <div class="flex flex-col justify-center items-center p-8">
        <div class="max-w-6xl">
            <a href="/" class="text-[#3590FF] opacity-80 hover:opacity-100">back to home</a>
            <article>
                <GettingStarted />
            </article>

        </div>
        
        
    </div>

    <Footer />
    



  </body>
</html>
