---
import { Image } from "astro:assets";

import rightArrow from "@/assets/right-arrow.svg";
import largeLogo from "@/assets/footer/large-logo.svg";

import hcLogo from "@/assets/hc-logo.svg";
import Acon from "@/assets/footer/name-acon.svg";
import Gideon from "@/assets/footer/name-gideon.svg";
import Valen from "@/assets/footer/name-valen.svg";
import Lilia from "@/assets/footer/name-lilia.svg";
---

<footer class="bg-neutral-900 text-white">
  <div class="p-16">
    <div class="mb-6 flex items-center gap-1">
      <Image src={hcLogo} alt="" role="presentation" class="h-12 w-auto" />
      <div class="min-w-0 flex-1"></div>
      <a
        href="https://aconlin.com"
        class="hover:text-indigo-soft px-1.5 text-white/10 not-hover:transition-colors"
      >
        <Acon role="presentation" class="h-9 w-auto" />
        <span class="sr-only">Acon</span>
      </a>
      <a
        href="https://gideon.sh"
        class="hover:text-amber-soft px-1.5 text-white/10 not-hover:transition-colors"
      >
        <Gideon role="presentation" class="h-9 w-auto" />
        <span class="sr-only">Gideon</span>
      </a>
      <a
        href="https://valen.zip"
        class="hover:text-blue-soft px-1.5 text-white/10 not-hover:transition-colors"
      >
        <Valen role="presentation" class="h-9 w-auto" />
        <span class="sr-only">Valen</span>
      </a>
      <a
        href="https://lilia.rocks"
        class="hover:text-pink-soft px-1.5 text-white/10 not-hover:transition-colors"
      >
        <Lilia role="presentation" class="h-9 w-auto" />
        <span class="sr-only">Lilia</span>
      </a>
    </div>
    <div class="flex gap-16">
      <div class="group w-40 flex-none space-y-2 text-xl leading-relaxed">
        <p
          class="italic transition-all group-has-hover:not-hover:opacity-50 hover:pl-1"
        >
          hack club
        </p>
        <p
          class="italic transition-all group-has-hover:not-hover:opacity-50 hover:pl-1"
        >
          slack
        </p>
        <p
          class="italic transition-all group-has-hover:not-hover:opacity-50 hover:pl-1"
        >
          clubs
        </p>
        <p
          class="italic transition-all group-has-hover:not-hover:opacity-50 hover:pl-1"
        >
          hackathons
        </p>
      </div>
      <div class="min-w-0 flex-1 text-xl leading-relaxed">
        <p>
          Hack Club is a 501(c)(3) nonprofit and network of 60k+ technical high
          schoolers. We believe you learn best by building, so we're creating
          community and providing grants so you can make awesome projects. In
          the past few years, we've partnered with GitHub to run Summer of
          Making, hosted the world's longest hackathon on land, and ran Canada's
          largest high school hackathon.
        </p>
        <div class="mt-4 flex items-center gap-3">
          <Image
            src={rightArrow}
            alt=""
            role="presentation"
            class="h-6 w-auto flex-none"
          />
          <p class="text-amber-soft min-w-0 flex-1 font-bold">
            At Hack Club, students aren't just learning, they're shipping.
          </p>
        </div>
        <p class="mt-4 text-base text-current/60">
          © 2026 Hack Club. 501(c)(3) nonprofit (EIN: 81-2908499)
        </p>
      </div>
    </div>
  </div>
  <Image src={largeLogo} alt="" role="presentation" class="h-auto w-full" />
</footer>
