---
import { Image } from "astro:assets";

import magazineStar from "@/assets/magazinestar.svg";

import catWoah from "@/assets/emoji/cat-woah.webp";
---

<div class="text-text space-y-8 p-12 text-4xl leading-snug sm:p-16">
  <Image src={magazineStar} alt="" role="presentation" class="h-16 w-auto" />
  <p>
    Hack Club is a place where teenagers come together to learn and make amazing
    projects. And throughout 2025, that's exactly what they did.
  </p>
  <p>
    This magazine is a collection of over 150 of the coolest, most fun, and most
    technical software and hardware projects made by Hack Clubbers in just one
    year. <Image
      src={catWoah}
      alt=""
      role="presentation"
      class="-mt-1 inline h-8 w-auto"
    />
  </p>
  <p>
    Video games played on real custom-made consoles, balloons sent into space,
    web browsers created from scratch, a playable version of Doom in a PDF, for
    some reason, and a whole lot more.
  </p>
  <p>Designed and built with love and code, by teens from across the world.</p>
</div>
