---
const imageNames = [
  "1.png","2.png","3.png","4.png","5.png","6.png","7.png","8.png","9.png",
  "10.png","11.png",
];
const images = imageNames.map(name => `/pastmagazines/mag${name}`);
---
<div id="carousel-magazines" class="my-8 w-full carousel">
  <div class="carousel-inner group flex justify-start">
    {Array.from({ length: 3 }).map(() => (
      <div class="track flex flex-none">
        {images.map((src, i) => <img src={src} alt="" class="carousel-img ml-4 transition duration-300 group-has-hover:not-hover:opacity-75 hover:scale-105"/>)}
      </div>
    ))}
  </div>
</div>

<script>

const container = document.getElementById('carousel-magazines')!;
const inner = container.querySelector<HTMLElement>('.carousel-inner')!;
const firstTrack = inner.querySelector<HTMLElement>('.track')!;

const speed = -0.8;

let scroll = 0;
let requestId: number;

function loop() {
  scroll += speed;
  if (Math.abs(scroll) >= firstTrack.scrollWidth) scroll = 0;
  inner.style.translate = `${scroll}px 0`;

  requestId = requestAnimationFrame(loop);
}
loop();

container.addEventListener('mouseenter', () => cancelAnimationFrame(requestId));
container.addEventListener('mouseleave', () => loop());

</script>

<style>
.carousel {
  pointer-events: none;
}
.carousel-img {
  pointer-events: auto;
  flex-shrink: 0;
  height: 400px;
  object-fit: cover;
  border-radius: 0.1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
</style>
