---
import { Font } from 'astro:assets';

import "../styles/global.css";

interface Props {
  title?: string;
}
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} - Hack Club Magazine` : "Hack Club Magazine"}</title>

    <Font cssVariable="--font-jua" />
	</head>
	<body>
    <slot />
		<script>
			document.addEventListener('keydown', (e) => {
				if (e.target instanceof HTMLInputElement || e.target instanceof HTMLTextAreaElement) return;
				const key = e.key.toLowerCase();
				if (key === 'a') window.location.href = '/start';
				if (key === '#' || (e.shiftKey && e.key === '3')) window.location.href = 'https://hackclub.enterprise.slack.com/archives/C0A8CMWM0CR';
			});
		</script>
  </body>
</html>